---
import Footer from "@/components/Footer.astro";
import NavBar from "@/components/NavBar.astro";
import Layout from "@/layouts/Layout.astro";
import { getTallerById } from "@/lib/data";

export function getStaticPaths() {
  return [
    {params: { taller: "taller-velas-febrero-2026" }},
    {params: { taller: "taller-velas-mayo-2026" }},
    {params: { taller: "taller-perfumes-febrero-2026" }},
    {params: { taller: "taller-jabones-febrero-2026" }},
  ];
}

const { taller } = Astro.params;

if (!taller) {
  return Astro.redirect("/404");
}

const findTaller = getTallerById(taller);

if (!findTaller) {
  return Astro.redirect("/404");
}

const title = findTaller.title;

---

<Layout title={ `Taller - ${title}`}>
  <NavBar />
  <section class="flex flex-col items-center justify-center max-w-[1500px] mx-auto column-gap-4 px-6 lg:px-20 lg:py-28 pb-12 pt-22 gap-y-12">
    <div class="flex flex-col-reverse lg:flex lg:flex-row gap-y-4 lg:h-screen border-t border-t-malt lg:border-t-0 pt-12 lg:pt-0">
      <div class="lg:w-1/2">
        <picture>
          <img src={findTaller.image} alt={findTaller.title} class="w-full h-full object-cover" />
        </picture>
      </div>
      <div class="lg:px-8 lg:w-1/2 flex flex-col gap-y-2 lg:ml-9 pb-6 lg:pb-0">
        <div class="flex flex-row gap-x-2 pt-6 border-b border-b-malt pb-4">
          <a href="./" class="text-paragraph font-creato font-semibold text-cbg-dark2 hover:text-camel transition-all duration-400 underline decoration-2">VOLVER</a>
        </div>
        <h1 class="lg:text-h2 text-h5 font-extralight text-camel leading-[1.2] text-left pr-20 pt-8">{findTaller.title}</h1>
        <h5 class="lg:text-base text-pharagraph-tiny text-camel pr-8">{findTaller.description}</h5>
        <h6 class="lg:text-base text-pharagraph-tiny text-bCoffe font-medium">{`${findTaller.date} - ${findTaller.time} | ${findTaller.location}`}</h6>
        <p class="lg:text-base text-pharagraph-tiny text-bCoffe font-medium font-inconsolata">{findTaller.price}</p>
        
        <a href={findTaller.register} class="text-pharagraph-small font-semibold text-white lg:text-base font-creato px-4 py-2 bg-malt hover:bg-camel transition-all duration-400 w-fit">INSCRIBIRME</a>
      </div>
    </div>

  </section>
  <Footer />
</Layout>