---
export const menu = [
  {
    id: 1,
    name: "INICIO",
    href: "/",
  },
  {
    id: 2,
    name: "NOSOTROS",
    href: "/#nosotros",
  },
  {
    id: 3,
    name: "PRODUCTOS",
    href: "/#products",
  },
  {
    id: 4,
    name: "POLÍTICA DE COOKIES",
    href: "/politica-cookies",
  }
];
export const talleres = [
  {
    id: 1,
    name: "TALLER 1",
    href: "#",
  },
  {
    id: 2,
    name: "TALLER 2",
    href: "#",
  },
  {
    id: 3,
    name: "TALLER 3",
    href: "#",
  }
]
export const redesSociales = [
  {
    id: 1,
    name: "INSTAGRAM",
    href: "https://www.instagram.com/i.lapso/",
  }
]
---
<footer class="pt-10 lg:pt-18 pb-6 border-t border-malt">
  <div class="max-w-[1500px] mx-6 lg:mx-[72px]">
    <div class="flex">
      <div class="flex flex-col lg:flex-row gap-5 lg:gap-x-4 lg:w-2/3">
        <div class="lg:w-1/3">
          <h3 class="mb-1.5 lg:text-base text-pharagraph-small text-bCoffe font-medium">I.LAPSO</h3>
          <ul>
            {menu.map((item) => (
              <a href={item.href} class="hover:text-camel transition-all duration-400">
                <li class="font-creato lg:text-base text-pharagraph-tiny text-camel">{item.name}</li>
              </a>
            ))}
          </ul>
        </div>
        <div class="lg:w-1/3">
          <h3 class="mb-1.5 lg:text-base text-pharagraph-small text-bCoffe font-medium">TALLERES</h3>
          <ul>
            {talleres.map((item) => (
              <a href={item.href} class="hover:text-camel transition-all duration-400">
                <li class="font-creato lg:text-base text-pharagraph-tiny text-camel">{item.name}</li>
              </a>
            ))}
          </ul>
        </div>
        <div class="lg:w-1/3">
          <h3 class="mb-1.5 lg:text-base text-pharagraph-small text-bCoffe font-medium">REDES SOCIALES</h3>
          <ul class="flex gap-2">
            {redesSociales.map((item) => (
              <a href={item.href} target="_blank">
                <li class="font-creato lg:text-base text-pharagraph-tiny text-camel">{item.name}</li>
              </a>
            ))}
          </ul>
        </div>
      </div>
    </div>
    <div>
      <h1 class="font-perpetua text-h1 lg:text-[180px] text-camel">i.lapso</h1>
    </div>
      <div>
        <p class="font-creato lg:text-base text-pharagraph-tiny text-left text-bCoffe"><b>©ANCEL DESARROLLOS.</b> Todos los derechos reservados.</p>
    </div>
  </div>
</footer>