---
const products = [
  {
    id: 1,
    name: "RÉPLICAS",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.",
    href: "/replicas",
    image: "../../src/assets/images/product-1.jpg",
  },
  {
    id: 2,
    name: "VELAS ARTESANALES",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.",
    href: "/velas-artesanales",
    image: "../../src/assets/images/product-2.jpg",
  },
  {
    id: 3,
    name: "PERFUMES SÓLIDOS",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.",
    href: "/perfumes-solidos",
    image: "../../src/assets/images/product-3.jpg",
  },
  {
    id: 4,
    name: "JABONES ARTESANALES",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.",
    href: "/jabones-artesanales",
    image: "../../src/assets/images/product-4.jpg",
  },
];
---

<section class="flex flex-col items-center justify-center max-w-[1500px] mx-auto column-gap-4 px-[72px]">
  <h6 class="text-base text-camel font-bold">Creamos productos únicos</h6>
  <div class="grid grid-cols-4 w-full gap-x-4 max-h-[400px] relative">
    {
      products.map((product) => (
        <div key={product.id} class="col-span-1 min-h-[400px] relative overflow-hidden">
          <a href={product.href} class="group flex items-start size-full overflow-hidden">
            <img src={product.image} alt={product.name} class="absolute h-full w-full object-cover hover:scale-x-105 hover:scale-y-105 transition-all duration-400 transform-3d"/>
            <div class="pointer-events-none absolute inset-0 z-3 flex size-full flex-col items-start justify-end gap-2 p-6" style="background-color: rgba(17, 14, 9, 0.4); background-image: linear-gradient(180deg, #fff0, var(--color--bg-dark3, var(--color-dark-orchestra)))">
              <h4 class="text-h4 text-white font-creato leading-tight transition-transform duration-450 group-hover:-translate-y-2">{product.name}</h4>
              <p class="hidden font-creato text-camel group-hover:block transition-all duration-450">{product.description}</p>
            </div>
          </a>
        </div>
      ))
    }

  </div>
</section>